@import "../node_modules/primereact/resources/themes/nova-light/theme.css";
@import "../node_modules/primereact/resources/primereact.min.css";
@import "../node_modules/primeicons/primeicons.css";
body {
  margin: 0;
  padding: 0;
}
.signinCard {
  width: 600px;
  margin: 5% auto;
}
.signinCard img {
  height: 180px;
}
.center {
  text-align: center;
}
header {
  margin: 0;
  padding: 10px;
  height: 70px;
  background-color: #00b2ff;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.headerSide {
  display: flex;
  align-items: center;
}
.flexItem {
  padding: 10px;
  display: inline-block;
}
.active {
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
  border-bottom: 3px solid white;
}
.navlink {
  color: white;
}
.gold {
  color: gold;
}
.signout {
  cursor: pointer;
}
.headerAvatar {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.mainContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
}
.homepageTabHeader {
  width: 50%;
  margin: 0 !important;
}
.homepageTabHeader a {
  margin: 0 !important;
  width: 100%;
}
li.p-highlight a {
  background-color: #00b2ff !important;
}
.myCard {
  margin: 15px;
  border-radius: 5px;
}
.myCardTitle {
  padding: 10px;
  background-color: #eee;
  font-weight: bold;
}
.pollHeaderButton {
  width: 100%;
  background-color: white !important;
  color: #00b2ff !important;
  font-weight: 500;
}
.fullWidth {
  width: 100%;
}
.mediumUserAvatar {
  height: 150px;
  width: 150px;
  border-radius: 150px;
}
.mediumAvatarConatainer {
  width: 30%;
  border-right: 2px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scoreCircle {
  background-color: #00b2ff;
  width: 60px;
  height: 60px;
  color: white;
  display: flex;
  border-radius: 60px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.radioGroup {
  margin-bottom: 15px;
}
.p-progressbar {
  border-radius: 5px;
}
.p-progressbar-label {
  color: white !important;
}
.p-progressbar-determinate {
  background-color: #aaa !important;
}
.p-progressbar-value {
  background-color: #00b2ff !important;
}
.resultsOption {
  border: 3px solid #ddd;
  margin-bottom: 15px;
  border-radius: 7px;
  padding: 10px;
  position: relative;
}
.activeOption {
  border-color: #00b2ff;
  color: #00b2ff;
}
.voteCircle {
  background-color: #00b2ff;
  background-color: #d9bd24;
  width: 65px;
  height: 65px;
  border-radius: 80px;
  color: white;
  display: flex;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 90%;
  top: -22px;
  flex-direction: column;
}
